---
layout: default
title: "關於年會"
---
<p>
  <h2>年會主題</h2>
  醫學生的社會責任與參與<br>Social Responsibility and Civil Participation of Medical Students
</p>
<p>
<h2>活動時間</h2>
2014年2月8日(六)至2014年2月11日(二)，共四天三夜
</p>
<p>
<h2>活動地點</h2>
中國醫藥大學：404台中市北區學士路91號<br>
台中市西屯區世斌公園<br>
住宿地點：富比世大飯店(台中市北區學士路181號，電話：04-22058811)<br>
</p>
<p>
<h2>參加對象</h2>
學員:全台灣各醫學系、中醫學系、學士後醫學系、學士後中醫學系學生共120位
</p>
<p>
<h2>活動信箱：</h2>fmstw2014@gmail.com
</p>
<p>
<h2>活動聯絡人：</h2>
中國醫學 吳怡潔 0986191923<br>
中國後中 林芳竹 0911872089<br>
中國中醫 蔡明兌 0983696356<br>
中山醫學 曾士耘 0911239525<br>
</p>
<h2><i class="icon-bookmark"></i>關於年會</h2>
<ul class="posts">
  {% for post in site.posts %}
    {% if post.category == "關於年會" %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
