---
layout: default
title: 2014 臺灣醫學生年會
---
<h1>{{ page.title }}官方網站</h1>
<h5>年度主題：醫學生的社會責任與參與<br>
Social Responsibility and Civil Participation of Medical Students</h5><br>

<h2>▼&nbsp;重要通知</h2>
<ul class="posts">
  {% for post in site.posts %}
    {% if post.tag == "important" %}
    <hr>
    <p>
    <h2><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h2>
    <span>{{ post.date | date_to_string }}</span><br>
    {{ post.content }}
    </p>
    {% endif %}
  {% endfor %}
</ul>

<hr>
<p>
<h2><a href={{ BASE_PATH }}/categories.html>全部文章</a></h2>
▲&nbsp;點此觀看以類別分類的所有文章哦！</p>

<!-- <h2>重要更新</h2>
<ul class="posts">
  {% for post in site.posts %}
    {% if post.tag == "important" %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <span>{{ post.category }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>    
    {% endif %}
  {% endfor %}
</ul> -->

<!-- <h2>所有貼文</h2>
<ul class="posts">
  {% for post in site.posts %}
  <li><span>{{ post.date | date_to_string }}</span> &raquo; <span>{{ post.category }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul> -->


