---
layout: default
title: "報名頁面"
---
<h2>{{ page.title }}</h2>
<p>
<h3>流程</h3>
<ol>
  <!--<li>請點右方鏈接下載報名表：<a href=/assets/form.docx>報名表</a>
  <li>將填寫完的報名表寄至&nbsp;fmstw2014@gmail.com
  <li>資訊組將會回信確認收到報名表，同時回覆&nbsp;<a href="http://fmstw.github.io/2013/11/19/remit/">匯款資訊</a>-->
  <li>請點右方鏈接填寫基本資料&nbsp;<a href="https://docs.google.com/forms/d/1GH_AAoyHK8LI474wtBaz8NfJFyiUh7RX2HrnuF299G0/viewform">報名表單</a></li>
  <li>資訊組確認收到後，會向您寄發匯款說明，或您可參考&nbsp;<a href="http://localhost:4000/2013/11/19/remit/">如何匯款？</a>。
  <li>匯款完成後，請到&nbsp;<a href=https://docs.google.com/forms/d/1hYlvB7MuSk7PBMHP21zIhhh9NXeRPR_6QPgY0-bZNY0/viewform>匯款確認單</a>&nbsp;填寫匯款確認資訊！</li>
  <li>財務組收到匯款後，會更新已確認報名列表，亦會通知您報名成功！</li>
</ol>
</p>
<h3>即時更新報名結果</h3>
<!--<ul class="posts">
  {% for post in site.posts %}
    {% if post.tags == "register" %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <span>{{ post.category }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>    
    {% endif %}
  {% endfor %}
</ul> -->
