<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.theme.name }} - {{ page.title }}</title>
  <meta name="author" content="{{ site.theme.name }}" />
  <meta name="description" content="The blog of {{ site.theme.name }}" />
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}" />
  <link href="//fonts.googleapis.com/css?family=Open+Sans:600,800" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="alternate" type="application/rss+xml" title="{{ site.theme.name }}" href="{{site.url}}/atom.xml" />
  <link rel="stylesheet" href="/assets/css/all.css">

  <link rel='stylesheet' type='text/css' href='/assets/css/styles.css' />
  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
<!--  <link href="/assets/css/coolMenu.css" rel="stylesheet" type="text/css" media="screen"/>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css">
  <script type="text/javascript" src="/assets/js/modernizr-1.6.min.js"></script>-->
</head>
<body>
  <div class="container">
    <div class="four columns sidebar">
      {% include sidebar.html %}
    </div>
    
    <div class="eleven columns content">

      <h4>
	<div id='cssmenu'>
	  <ul>
	    <li class='active'><a href='/index.html'><span>首頁</span></a></li>
	    <li class='active'><a href='/register.html'><span>報名頁面</span></a></li>
	    <li class='has-sub'><a href='#'><span>活動行程</span></a>
              <ul>
                <li><a href='/schedule.html'><span>行程表</span></a></li>
                <li class='last'><a href='http://fmstw.github.io/2014/02/08/activity/'><span>活動簡介</span></a></li>
              </ul>
            </li>
            <li class='has-sub'><a href='#'><span>關於年會</span></a>
	      <ul>
		<li><a href='/about.html'><span>2014年會介紹</span></a></li>
		<li><a href='/cmu.html'><span>交通方式</span></a></li>
                <li><a href='/hotel.html'><span>住宿地點</span></a></li>
                <li><a href='/school.html'><span>主辦單位</span></a></li>
                <li class='last'><a href='#'><span>執行團隊</span></a></li>
	      </ul>
	    </li>
	  </ul>
	</div>
      </h4>
      <!--<h4>
	<a href="/index.html">首頁&nbsp;</a>
	<a href="/register.html">報名頁面&nbsp;</a>
	<a href="/schedule.html">&nbsp;行程表&nbsp;</a>
	<a href="/about.html">&nbsp;關於年會</a>
      </h4> -->
      <hr>
      {{ content }}

      <div class="footer">
        {% include footer.html %}
      </div>
    </div>
  </div>
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/scripts.js"></script> -->
</body>
</html>
